{% load static %}
<div id="carouselProductsControls" class="carousel carousel-custom slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/Accu-Therm-AT-40-Plate-Heat-Exchanger.png' %}"
                alt="Accu Therm AT 40 Plate Heat Exchanger" />
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/Accu-Therm-AT184-Plate-Heat-Exchanger.jpg' %}"
                alt="Accu Therm AT184 Plate Heat Exchanger" />
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/Accu-Therm-Plate-Heat-Exchanger-Plates-Closeup.jpg' %}"
                alt="Accu Therm Plate Heat Exchanger Plates Closeup" />
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/Accu-Therm-Plate-Heat-Exchanger-Plates.jpg' %}"
                alt="Accu Therm Plate Heat Exchanger Plates" />
        </div>
    </div>
    <div class="carousel-custom-controls">
        <a data-target="#carouselProductsControls" data-slide-to="0" class="active"><img
                src="{% static 'img/Accu-Therm-AT-40-Plate-Heat-Exchanger.png' %}" class="w-100"
                alt="Accu Therm AT 40 Plate Heat Exchanger"></a>
        <a data-target="#carouselProductsControls" data-slide-to="1"> <img
                src="{% static 'img/Accu-Therm-AT184-Plate-Heat-Exchanger.jpg' %}" class="w-100"
                alt="Accu Therm AT184 Plate Heat Exchanger" /></a>
        <a data-target="#carouselProductsControls" data-slide-to="2"><img
                src="{% static 'img/Accu-Therm-Plate-Heat-Exchanger-Plates-Closeup.jpg' %}" class="w-100"
                alt="Accu Therm Plate Heat Exchanger Plates Closeup" /></a>
        <a data-target="#carouselProductsControls" data-slide-to="3"><img
                src="{% static 'img/Accu-Therm-Plate-Heat-Exchanger-Plates.jpg' %}" class="w-100"
                alt="Accu Therm Plate Heat Exchanger Plates" /></a>
    </div>